#%RAML 1.0
---
title: Individuals Reliefs (MTD)
version: 1.0

protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include docs/errors.md
 - title: Changelog
   content: !include docs/changelog.md
 - title: Support
   content: !include docs/support.md
 - title: Testing
   content: !include docs/testing.md

mediaType: application/hal+json

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml
  errors: errors.raml
  headers: headers.raml

'/individuals/reliefs':
  uriParameters:
    nino:
      description: National Insurance number, in the format AA999999A.
      type: string
      example: TC663795B
  /investment:
    (annotations.group):
      name: Relief Investments
      description: Resources relating to an individual's relief investments
    /{nino}:
      /{taxYear}:
        uriParameters:
          taxYear:
            description: 'The tax year the data applies to, for example, 2019-20. The start year and end year must not span two tax years. No gaps are allowed, for example, 2019-21 is not valid.'
            example: "2019-20"
        delete: !include reliefInvestments_delete.raml
        put: !include reliefInvestments_amend.raml
        get: !include reliefInvestments_retrieve.raml
  /other:
    (annotations.group):
      name: Other Reliefs
      description: Resources relating to an individual's other reliefs
    /{nino}:
      /{taxYear}:
        uriParameters:
          taxYear:
            description: 'The tax year the data applies to, for example, 2019-20. The start year and end year must not span two tax years. No gaps are allowed, for example, 2019-21 is not valid.'
            example: "2019-20"
        delete: !include reliefOther_delete.raml
        put: !include reliefOther_amend.raml
        get: !include reliefOther_retrieve.raml
  /foreign:
    (annotations.group):
      name: Foreign Reliefs
      description: Resources relating to an individual's foreign reliefs
    /{nino}:
      /{taxYear}:
        uriParameters:
          taxYear:
            description: 'The tax year the data applies to, for example, 2019-20. The start year and end year must not span two tax years. No gaps are allowed, for example, 2019-21 is not valid.'
            example: "2019-20"
        delete: !include reliefForeign_delete.raml
        put: !include reliefForeign_amend.raml
        get: !include reliefForeign_retrieve.raml
  /pensions:
    (annotations.group):
      name: Pensions Reliefs
      description: Resources relating to an individual's pensions reliefs
    /{nino}:
      /{taxYear}:
        uriParameters:
          taxYear:
            description: 'The tax year the data applies to, for example, 2021-22. The tax year must have ended. The start year and end year must not span two tax years. The minimum tax year is 2021-22. No gaps are allowed, for example, 2020-22 is not valid. (The minimum tax year in Sandbox is 2019-20.)'
            example: "2021-22"
        delete: !include reliefPensions_delete.raml
        put: !include reliefPensions_amend.raml
        get: !include reliefPensions_retrieve.raml
